@cegid:registry=https://cegid.jfrog.io/artifactory/api/npm/dsy-npm-all/
//cegid.jfrog.io/:_authToken=TODO_REPLACE_WITH_YOUR_TOKEN
//cegid.jfrog.io/:email=ronaldo.drumond@cegid.com
//cegid.jfrog.io/:always-auth=true